numbers-parser
yfinance
yfinance[nospam]
cachetools
fastapi
uvicorn[standard]
pydantic
python-multipart
python-json-logger
prometheus-fastapi-instrumentator

# Analytics
dbt-core
dbt-sqlite

# Testing
pytest
pytest-cov
httpx

# Benchmark
locust